.edit-indicator .nav-file-title-content::before {
  color: var(--icon-color);
  content: '🖋️';
  float: right;
  font-style: normal;
}

.publish-indicator .nav-file-title-content::before {
  color: var(--icon-color);
  content: '🌐';
  float: right;
  font-style: normal;
}

.index-indicator .nav-file-title-content::before {
  color: var(--icon-color);
  content: '🧭';
  float: right;
  font-style: normal;
}

.edit-indicator.publish-indicator .nav-file-title-content::before {
  content: '🌐🖋️';
}

.edit-indicator.index-indicator .nav-file-title-content::before {
  content: '🧭🖋️';
}

.publish-indicator.index-indicator .nav-file-title-content::before {
  content: '🧭🌐';
}

.edit-indicator.publish-indicator.index-indicator .nav-file-title-content::before {
  content: '🧭🌐🖋️';
}

.edit-indicator .nav-file-title-content
.publish-indicator .nav-file-title-content
.index-indicator .nav-file-title-content {
  font-style: italic;
  width: 100%;
}
